*{
    box-sizing: border-box;
    margin:0px
}

body{
    background-color: #0f1717;
    display:flex;
    justify-content: center;

}

.header-title{
    color:white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    width:700px;
    display:flex;
    justify-content: center;
    margin-top:3rem;
    margin-bottom: 5rem;
    font-size: 50px;
}

.page-container{
    height:30rem;
    width:700px;
    border-radius:10px;
    background-color: #99abb2;
}